In [1]:
from instructions_pipeline.pipeline import pipeline
from utils.handle_file import read_pickle
import pandas as pd

data = pipeline()

In [4]:
data['people_description'].head()

   nome  idade  peso(kg)  altura(cm)  gramas  teste
0   mic     26        71         175   71000     10
1  mic2     26        71         175   71000     10
2  mic3     26        71         175   71000     10
3  mic3     26        71         175   71000     10
4  mic4     27        71         175   71000     10